<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS4.dao.AdminDAO">
	<select id="getGameTotRecCnt" resultType="int">
		select count(*) as totRecCnt from itGame;
	</select>
	<select id="getGameList" resultType="com.spring.javaclassS4.vo.GameVO">
		select * from itGame order by gameIdx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="gameTitleSearch" resultType="com.spring.javaclassS4.vo.GameVO">
		select * from itGame where gameTitle=#{gameTitle};
	</select>
	
	
	<insert id="gameInput">
		insert into itGame values(default, #{vo.gameTitle}, #{vo.gameSubTitle}, #{vo.jangre}, #{vo.platform}, <if test="vo.showDate == ''">default</if><if test="vo.showDate != ''">#{vo.showDate}</if>, #{vo.price}, default, #{vo.metascore}, #{vo.steamscore}, #{vo.steamPage}, #{vo.developer}, #{vo.gameImg}, #{vo.gameInfo});
	</insert>
</mapper>