<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS4.dao.AdminDAO">
	<select id="getGameTotRecCnt" resultType="int">
		<if test="search == ''">select count(*) as totRecCnt from itGame;</if>
		<if test="search != ''">
			<if test="searchpart == '제목'">select count(*) as totRecCnt from itGame where gameTitle like concat('%',#{search},'%') or gameSubTitle like concat('%',#{search},'%');</if>
			<if test="searchpart == '개발사'">select count(*) as totRecCnt from itGame where developer like concat('%',#{search},'%');</if>
		</if>
	</select>
	<select id="getGameList" resultType="com.spring.javaclassS4.vo.GameVO">
		<if test="search == ''">select * from itGame order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
		<if test="search != ''">
			<if test="searchpart == '제목'">select * from itGame where gameTitle like concat('%',#{search},'%') or gameSubTitle like concat('%',#{search},'%') order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
			<if test="searchpart == '개발사'">select * from itGame where developer like concat('%',#{search},'%') order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
		</if>
	</select>
	<select id="gameTitleSearch" resultType="com.spring.javaclassS4.vo.GameVO">
		select * from itGame where gameTitle=#{gameTitle};
	</select>
	<select id="getAllUserTotRecCnt" resultType="int">
		<if test="search == ''">select count(*) as totRecCnt from itMember;</if>
		<if test="search != ''">
			<if test="searchpart == '아이디'">select count(*) as totRecCnt from itMember where mid like concat('%',#{search},'%');</if>
			<if test="searchpart == '닉네임'">select count(*) as totRecCnt from itMember where nickname like concat('%',#{search},'%');</if>
		</if>
	</select>
	<select id="getAllUserList" resultType="com.spring.javaclassS4.vo.MemberVO">
		<if test="search == ''">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid order by idx desc limit #{startIndexNo},#{pageSize};</if>
		<if test="search != ''">
			<if test="searchpart == '아이디'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.mid like concat('%',#{search},'%') order by idx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="searchpart == '닉네임'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.nickname like concat('%',#{search},'%') order by idx desc limit #{startIndexNo},#{pageSize};</if>
		</if>
	</select>
	<select id="getLevelUserTotRecCnt" resultType="int">
		<if test="search == ''">select count(*) as totRecCnt from itMember where level=#{viewpart};</if>
		<if test="search != ''">
			<if test="searchpart == '아이디'">select count(*) as totRecCnt from itMember where mid like concat('%',#{search},'%') and level=#{viewpart};</if>
			<if test="searchpart == '닉네임'">select count(*) as totRecCnt from itMember where nickname like concat('%',#{search},'%') and level=#{viewpart};</if>
		</if>
	</select>
	<select id="getLevelUserList" resultType="com.spring.javaclassS4.vo.MemberVO">
		<if test="search == ''">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.level=#{viewpart} order by idx desc limit #{startIndexNo},#{pageSize};</if>
		<if test="search != ''">
			<if test="searchpart == '아이디'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.mid like concat('%',#{search},'%') and m.level=#{viewpart} order by idx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="searchpart == '닉네임'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.nickname like concat('%',#{search},'%') and m.level=#{viewpart} order by idx desc limit #{startIndexNo},#{pageSize};</if>
		</if>
	</select>
	<select id="getStateUserTotRecCnt" resultType="int">
		<if test="search == ''">select count(*) as totRecCnt from itMember where loginState=#{viewpart};</if>
		<if test="search != ''">
			<if test="searchpart == '아이디'">select count(*) as totRecCnt from itMember where mid like concat('%',#{search},'%') and loginState=#{viewpart};</if>
			<if test="searchpart == '닉네임'">select count(*) as totRecCnt from itMember where nickname like concat('%',#{search},'%') and loginState=#{viewpart};</if>
		</if>
	</select>
	<select id="getStateUserList" resultType="com.spring.javaclassS4.vo.MemberVO">
		<if test="search == ''">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.loginState=#{viewpart} order by idx desc limit #{startIndexNo},#{pageSize};</if>
		<if test="search != ''">
			<if test="searchpart == '아이디'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.mid like concat('%',#{search},'%') and m.loginState=#{viewpart} order by idx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="searchpart == '닉네임'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.nickname like concat('%',#{search},'%') and m.loginState=#{viewpart} order by idx desc limit #{startIndexNo},#{pageSize};</if>
		</if>
	</select>
	<select id="getKakaoUserTotRecCnt" resultType="int">
		<if test="viewpart == 'kakao'">
			<if test="search == ''">select count(*) as totRecCnt from itMember where pwd = 'kakaoMember';</if>
			<if test="search != ''">
				<if test="searchpart == '아이디'">select count(*) as totRecCnt from itMember where mid like concat('%',#{search},'%') and pwd = 'kakaoMember';</if>
				<if test="searchpart == '닉네임'">select count(*) as totRecCnt from itMember where nickname like concat('%',#{search},'%') and pwd = 'kakaoMember';</if>
			</if>
		</if>
		<if test="viewpart != 'kakao'">
			<if test="search == ''">select count(*) as totRecCnt from itMember where pwd != 'kakaoMember';</if>
			<if test="search != ''">
				<if test="searchpart == '아이디'">select count(*) as totRecCnt from itMember where mid like concat('%',#{search},'%') and pwd != 'kakaoMember';</if>
				<if test="searchpart == '닉네임'">select count(*) as totRecCnt from itMember where nickname like concat('%',#{search},'%') and pwd != 'kakaoMember';</if>
			</if>
		</if>
	</select>
	<select id="getKakaoUserList" resultType="com.spring.javaclassS4.vo.MemberVO">
		<if test="viewpart == 'kakao'">
			<if test="search == ''">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.pwd = 'kakaoMember' order by idx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '아이디'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.mid like concat('%',#{search},'%') and m.pwd = 'kakaoMember' order by idx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '닉네임'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.nickname like concat('%',#{search},'%') and m.pwd = 'kakaoMember' order by idx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
		<if test="viewpart != 'kakao'">
			<if test="search == ''">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.pwd != 'kakaoMember' order by idx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '아이디'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.mid like concat('%',#{search},'%') and m.pwd != 'kakaoMember' order by idx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '닉네임'">select m.*, b.banDay from itMember m LEFT JOIN itBan b ON m.mid=b.banMid where m.nickname like concat('%',#{search},'%') and m.pwd != 'kakaoMember' order by idx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
	</select>
	<select id="getBanMid" resultType="com.spring.javaclassS4.vo.BanVO">
		select * from itBan where banMid=#{banMid};
	</select>
	<select id="getReportTotRecCnt" resultType="int">
		<if test="viewpart == 'notComplete'">
			<if test="search == ''">select count(*) from itReport where complete=0;</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select count(*) from itReport where complete=0 and reportMid like concat('%',#{search},'%');</if>
				<if test="searchpart == '피신고자'">select count(*) from itReport where complete=0 and sufferMid like concat('%',#{search},'%');</if>
			</if>
		</if>
		<if test="viewpart == 'complete'">
			<if test="search == ''">select count(*) from itReport where complete=1;</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select count(*) from itReport where complete=1 and reportMid like concat('%',#{search},'%');</if>
				<if test="searchpart == '피신고자'">select count(*) from itReport where complete=1 and sufferMid like concat('%',#{search},'%');</if>
			</if>
		</if>
		<if test="viewpart == 'acquittal'">
			<if test="search == ''">select count(*) from itReport where complete=2;</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select count(*) from itReport where complete=2 and reportMid like concat('%',#{search},'%');</if>
				<if test="searchpart == '피신고자'">select count(*) from itReport where complete=2 and sufferMid like concat('%',#{search},'%');</if>
			</if>
		</if>
		<if test="viewpart != 'complete' and viewpart != 'notComplete' and viewpart != 'acquittal'">
			<if test="search == ''">select count(*) from itReport;</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select count(*) from itReport where reportMid like concat('%',#{search},'%');</if>
				<if test="searchpart == '피신고자'">select count(*) from itReport where sufferMid like concat('%',#{search},'%');</if>
			</if>
		</if>
	</select>
	<select id="getReportList" resultType="com.spring.javaclassS4.vo.ReportVO">
		<if test="viewpart == 'notComplete'">
			<if test="search == ''">select * from itReport where complete=0 order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select * from itReport where complete=0 and reportMid like concat('%',#{search},'%') order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '피신고자'">select * from itReport where complete=0 and sufferMid like concat('%',#{search},'%') order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
		<if test="viewpart == 'complete'">
			<if test="search == ''">select * from itReport where complete=1 order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select * from itReport where complete=1 and reportMid like concat('%',#{search},'%') order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '피신고자'">select * from itReport where complete=1 and sufferMid like concat('%',#{search},'%') order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
		<if test="viewpart == 'acquittal'">
			<if test="search == ''">select * from itReport where complete=2 order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select * from itReport where complete=2 and reportMid like concat('%',#{search},'%') order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '피신고자'">select * from itReport where complete=2 and sufferMid like concat('%',#{search},'%') order by reIdx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
		<if test="viewpart != 'complete' and viewpart != 'notComplete' and viewpart != 'acquittal'">
			<if test="search == ''">select * from itReport order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '신고자'">select * from itReport where reportMid like concat('%',#{search},'%') order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '피신고자'">select * from itReport where sufferMid like concat('%',#{search},'%') order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
	</select>
	<select id="getReplyIdx" resultType="com.spring.javaclassS4.vo.ReplyVO">
		select * from itReply where replyIdx=#{contentIdx};
	</select>
		<select id="getSupportTotRecCnt" resultType="int">
		<if test="viewpart == 'notComplete'">
			<if test="search == ''">select count(*) from itSupport where supComplete=0;</if>
			<if test="search != ''">
				select count(*) from itSupport where supComplete=0 and supEmail like concat('%',#{search},'%');
			</if>
		</if>
		<if test="viewpart == 'complete'">
			<if test="search == ''">select count(*) from itSupport where supComplete=1;</if>
			<if test="search != ''">
				select count(*) from itSupport where supComplete=1 and supEmail like concat('%',#{search},'%');
			</if>
		</if>
		<if test="viewpart != 'complete' and viewpart != 'notComplete'">
			<if test="search == ''">select count(*) from itSupport;</if>
			<if test="search != ''">
				select count(*) from itSupport where supEmail like concat('%',#{search},'%');
			</if>
		</if>
	</select>
	<select id="getSupportList" resultType="com.spring.javaclassS4.vo.SupportVO">
		<if test="viewpart == 'notComplete'">
			<if test="search == ''">select * from itSupport where supComplete=0 order by supIdx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				select * from itSupport where supComplete=0 and supEmail like concat('%',#{search},'%') order by supIdx desc limit #{startIndexNo},#{pageSize};
			</if>
		</if>
		<if test="viewpart == 'complete'">
			<if test="search == ''">select * from itSupport where supComplete=1 order by supIdx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				select * from itSupport where supComplete=1 and supEmail like concat('%',#{search},'%') order by supIdx desc limit #{startIndexNo},#{pageSize};
			</if>
		</if>
		<if test="viewpart != 'complete' and viewpart != 'notComplete'">
			<if test="search == ''">select * from itSupport order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				select * from itSupport where supEmail like concat('%',#{search},'%') order by ${viewpart} limit #{startIndexNo},#{pageSize};
			</if>
		</if>
	</select>
	<select id="getGameRequstTotRecCnt" resultType="int">
		<if test="viewpart == 'notComplete'">
			<if test="search == ''">select count(*) from itGameRequest where grComplete=0;</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select count(*) from itGameRequest where grComplete=0 and gameTitle like concat('%',#{search},'%');</if>
				<if test="searchpart == '요청인'">select count(*) from itGameRequest where grComplete=0 and reqMid like concat('%',#{search},'%');</if>
			</if>
		</if>
		<if test="viewpart == 'complete'">
			<if test="search == ''">select count(*) from itGameRequest where grComplete=1;</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select count(*) from itGameRequest where grComplete=1 and gameTitle like concat('%',#{search},'%');</if>
				<if test="searchpart == '요청인'">select count(*) from itGameRequest where grComplete=1 and reqMid like concat('%',#{search},'%');</if>
			</if>
		</if>
		<if test="viewpart == 'acquittal'">
			<if test="search == ''">select count(*) from itGameRequest where grComplete=2;</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select count(*) from itGameRequest where grComplete=2 and gameTitle like concat('%',#{search},'%');</if>
				<if test="searchpart == '요청인'">select count(*) from itGameRequest where grComplete=2 and reqMid like concat('%',#{search},'%');</if>
			</if>
		</if>
		<if test="viewpart != 'complete' and viewpart != 'notComplete' and viewpart != 'acquittal'">
			<if test="search == ''">select count(*) from itGameRequest;</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select count(*) from itGameRequest where gameTitle like concat('%',#{search},'%');</if>
				<if test="searchpart == '요청인'">select count(*) from itGameRequest where reqMid like concat('%',#{search},'%');</if>
			</if>
		</if>
	</select>
	<select id="getGameRequstList" resultType="com.spring.javaclassS4.vo.GameRequestVO">
		<if test="viewpart == 'notComplete'">
			<if test="search == ''">select * from itGameRequest where grComplete=0 order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select * from itGameRequest where grComplete=0 and gameTitle like concat('%',#{search},'%') order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '요청인'">select * from itGameRequest where grComplete=0 and reqMid like concat('%',#{search},'%') order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
		<if test="viewpart == 'complete'">
			<if test="search == ''">select * from itGameRequest where grComplete=1 order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select * from itGameRequest where grComplete=1 and gameTitle like concat('%',#{search},'%') order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '요청인'">select * from itGameRequest where grComplete=1 and reqMid like concat('%',#{search},'%') order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
		<if test="viewpart == 'acquittal'">
			<if test="search == ''">select * from itGameRequest where grComplete=2 order by select * from itGameRequest where grComplete=1 order by grIdx desc limit #{startIndexNo},#{pageSize}; desc limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select * from itGameRequest where grComplete=2 and gameTitle like concat('%',#{search},'%') order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '요청인'">select * from itGameRequest where grComplete=2 and reqMid like concat('%',#{search},'%') order by grIdx desc limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
		<if test="viewpart != 'complete' and viewpart != 'notComplete' and viewpart != 'acquittal'">
			<if test="search == ''">select * from itGameRequest order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
			<if test="search != ''">
				<if test="searchpart == '게임이름'">select * from itGameRequest where gameTitle like concat('%',#{search},'%') order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
				<if test="searchpart == '요청인'">select * from itGameRequest where reqMid like concat('%',#{search},'%') order by ${viewpart} limit #{startIndexNo},#{pageSize};</if>
			</if>
		</if>
	</select>

	
	
	
	
	<insert id="gameInput">
		insert into itGame values(default, #{vo.gameTitle}, #{vo.gameSubTitle}, #{vo.jangre}, #{vo.platform}, <if test="vo.showDate == ''">default,</if><if test="vo.showDate != ''">#{vo.showDate},</if>#{vo.price}, default, #{vo.metascore}, #{vo.steamscore}, #{vo.steamPage}, #{vo.developer}, #{vo.gameImg}, #{vo.gameInfo});
	</insert>
	<insert id="setBanInput">
		insert into itBan values(#{banMid}, default, default, #{reason});
	</insert>
	<insert id="supportInput">
		insert into itSupport values(default, #{vo.supEmail}, #{vo.main}, #{vo.sub}, #{vo.supContent}, #{vo.supImg}, default);
	</insert>
	<insert id="gameRequestInput">
		insert into itGameRequest values(default, #{vo.reqMid}, #{vo.gameIdx}, #{vo.gameTitle}, #{vo.gameSubTitle}, #{vo.jangre},#{vo.platform},#{vo.showDate},#{vo.price},#{vo.metascore},#{vo.steamscore},#{vo.steamPage},#{vo.developer},#{vo.gameInfo}, default);
	</insert>
	
	
	
	
	<update id="gameEdit">
		<if test="flag == 'no'">
			update itGame set gameSubTitle=#{vo.gameSubTitle}, jangre=#{vo.jangre}, platform=#{vo.platform},showDate=<if test="vo.showDate == ''">default,</if><if test="vo.showDate != ''">#{vo.showDate},</if>price=#{vo.price}, metascore=#{vo.metascore}, steamscore=#{vo.steamscore}, steamPage=#{vo.steamPage}, developer=#{vo.developer}, gameInfo=#{vo.gameInfo} where gameIdx=#{vo.gameIdx};
		</if>
		<if test="flag == 'ok'">
			update itGame set gameSubTitle=#{vo.gameSubTitle}, jangre=#{vo.jangre}, platform=#{vo.platform},showDate=<if test="vo.showDate == ''">default,</if><if test="vo.showDate != ''">#{vo.showDate},</if>price=#{vo.price}, metascore=#{vo.metascore}, steamscore=#{vo.steamscore}, steamPage=#{vo.steamPage}, developer=#{vo.developer}, gameImg=#{vo.gameImg}, gameInfo=#{vo.gameInfo} where gameIdx=#{vo.gameIdx};
		</if>
		<if test="flag == 'nameno'">
			update itGame set gameTitle=#{vo.gameTitle}, gameSubTitle=#{vo.gameSubTitle}, jangre=#{vo.jangre}, platform=#{vo.platform},showDate=<if test="vo.showDate == ''">default,</if><if test="vo.showDate != ''">#{vo.showDate},</if>price=#{vo.price}, metascore=#{vo.metascore}, steamscore=#{vo.steamscore}, steamPage=#{vo.steamPage}, developer=#{vo.developer}, gameInfo=#{vo.gameInfo} where gameIdx=#{vo.gameIdx};
		</if>
		<if test="flag == 'nameok'">
			update itGame set gameTitle=#{vo.gameTitle}, gameSubTitle=#{vo.gameSubTitle}, jangre=#{vo.jangre}, platform=#{vo.platform},showDate=<if test="vo.showDate == ''">default,</if><if test="vo.showDate != ''">#{vo.showDate},</if>price=#{vo.price}, metascore=#{vo.metascore}, steamscore=#{vo.steamscore}, steamPage=#{vo.steamPage}, developer=#{vo.developer}, gameImg=#{vo.gameImg}, gameInfo=#{vo.gameInfo} where gameIdx=#{vo.gameIdx};
		</if>
	</update>
	<update id="levelChange">
		update itMember set level=#{level}, nickname=#{nickname}, title=#{title} where idx=#{idx};
	</update>
	<update id="setBanEdit">
		update itBan set banDay=#{day}, banTime=now(), banReason=#{reason} where banMid=#{banMid};
	</update>
	<update id="setMemberLoginState">
		update itMember set loginState='NO' where mid=#{banMid};
	</update>
	<update id="setAlwaysBan">
		update itMember set loginState='BAN' where mid=#{banMid};
	</update>
	<update id="setAlwaysBanDelete">
		update itMember set loginState='OK' where mid=#{banMid};
	</update>
	<update id="reportRead">
		update itReport set complete=1 where reIdx=#{reIdx};
	</update>
	<update id="reportAcquittal">
		update itReport set complete=2 where reIdx=#{reIdx};
	</update>
	<update id="setSupportComplete">
		update itSupport set supComplete=1 where supIdx=#{supIdx};
	</update>
	<update id="requestYes">
		update itGameRequest set grComplete=1 where grIdx=#{grIdx};
	</update>
	<update id="requestNo">
		update itGameRequest set grComplete=2, reason=#{reason} where grIdx=#{grIdx};
	</update>
	
	
	
	
	<delete id="gameDelete">
		delete from itGame where gameIdx=#{gameIdx};
	</delete>
	<delete id="setBanDelete">
		delete from itBan where banMid=#{banMid};
	</delete>
</mapper>