<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS4.dao.HomeDAO">
	<select id="getNewGameList" resultType="com.spring.javaclassS4.vo.GameVO">
		select * from itGame where <![CDATA[showDate <= now()]]> order by showDate desc limit 4;
	</select>
	<select id="getGame" resultType="com.spring.javaclassS4.vo.GameVO">
		select * from itGame where gameIdx=#{gameIdx};
	</select>
	<select id="getMyGameCount" resultType="int">
		select count(*) from itReview where revMid=#{mid};
	</select>
	<select id="getMyGameStar" resultType="int">
		<if test="rating == 5">
			select count(*) from itReview where revMid=#{mid} and rating = 5;
		</if>
		<if test="rating == 3">
			select count(*) from itReview where revMid=#{mid} and <![CDATA[rating >= 3 and rating != 5]]>;
		</if>
		<if test="rating == 2">
			select count(*) from itReview where revMid=#{mid} and <![CDATA[rating <= 2]]>;
		</if>
	</select>
	<select id="getMyGameState" resultType="int">
		select count(*) from itReview where revMid=#{mid} and state=#{state};
	</select>
</mapper>